*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
:root {
    --praesision-font-size: calc(4vw + 4vh);
    --praesision-font-size-responsive: calc(3.5vw + 3.5vh);
    --golden-ratio: 1.618;
    --webas-font-size: calc(var(--praesision-font-size) / var(--golden-ratio));
    --kopf-font-size: calc(var(--webas-font-size) / (var(--golden-ratio) * 1.8));
    --royale-blue: #4169e1;
}
@media (max-width: 768px) {
    :root {
        --praesision-font-size: calc(3.5vw + 3.5vh);
    }
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.text-container,
header,
.centered-text-container,
.pagination {
  opacity: 0;
}

/*Ladescreen*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--royale-blue);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  



/* Header */
header {
    background-color: #fff;
    padding: 4vh 20px;
    transition: box-shadow 0.5s, opacity 0.5s;
    opacity: 0;
    z-index: 999;
  }
  
  #myHeader {
    transition: box-shadow 0.5s, opacity 0.5s;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0);
    opacity: 0;
  }
  
  .sticky-visible {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }
  
  
#header-placeholder {
    display: none;
    height: 0;
}

.main-nav {
    text-align: center;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.main-nav li {
    margin: 0 4.5vh;
}

.main-nav a {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: var(--kopf-font-size);
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
}

.main-nav a:hover {
    color: #4169e1;
    
}
.main-nav a {
    position: relative;
}

.main-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 0;
    background-color: #4169e1;
    transition: width 0.3s;
}

.main-nav a:hover::after {
    width: 100%;
}

.main-nav li:last-child a::after {
  display: none; /* Diese Regel verhindert, dass der Strich unter dem letzten Element angezeigt wird */
}

.main-nav li:last-child a:hover::after {
  width: 0;
}

.main-nav li:last-child a {
  background-color: var(--royale-blue); 
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease; 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); 
  transform: scale(1);
}

.main-nav li:last-child a:hover {
  background-color: var(--royale-blue);
  color: white;
  box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.25); 
}

/**/

/*Hamburger Header*/
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

.close-icon {
    display: none;
  }

.menu.active .close-icon {
    display: block;
}
  
.menu-icon.hidden {
    display: none;
}
  
@media screen and (max-width: 768px) {
    .menu-icon-raised {
        top: 50%;
        transform: translateY(-50%);
      }
    
    .menu-icon {
      display: block;
      position: absolute;
      right: 5%;
    }
  
    .menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 999;
        text-align: left;
        padding-top: 60px;
        opacity: 0;
        transition: opacity 0.5s;
        pointer-events: none; /* Fügen Sie diese Zeile hinzu */
    }
      
    .menu.active {
        opacity: 1;
        pointer-events: auto; /* Fügen Sie diese Zeile hinzu */
    }
      
    .menu ul {
      flex-direction: column;
      align-items: left;
      justify-content: left;
      padding-left: 3rem;
      margin: 0;
      padding-top: 4rem;

    }
  
    .menu li {
      margin: 3px 0;
      position: relative;
    }
    .menu li:not(:last-child)::after {
        content: "";
        display: block;
        height: 1px;
        background-color: var(--royale-blue);
        margin: 10px 0;
    }
    .menu a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: calc(var(--kopf-font-size) * 2);
    }
    /* .main-nav li:last-child a{
        all: unset;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: calc(var(--kopf-font-size) * 2);
        text-transform: uppercase;
        color: black;
        padding-bottom: 3px;
    } */

     .main-nav li:last-child a:hover {
      background-color: var(--royale-blue);
      color: white;
      box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.25); 
      } 
}
  
.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

.black.material-symbols-outlined {
    color: #000; /* Schwarz */
}
  
  .material-symbols-outlined {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 2.5;
}
.material-symbols-outlinedone{
    color: black;
}
.material-symbols-outlined:hover{
    color: var(--royale-blue);
    transition: .5s;
}
.close-icon {
position: absolute;
top: 25px;
right: 25px;
font-size: 24px;
cursor: pointer;
display: none;
}
/* Standardmäßig wird das Logo ausgeblendet */
.logo {
    display: none;
  }
  
  /* Wenn der Bildschirm kleiner als 768px ist, zeigen Sie das Logo an */
  @media (max-width: 768px) {
    .logo {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 50px; /* oder die gewünschte Größe */
        height: 50px;
    }
  
    .logo img {
        width: 100%;
        height: auto;
    }
  }
  
/**/

/* Präzision / Webas */

.slanted-container {
  display: flex;
  flex-direction: column; /* Hinzugefügt, um die Elemente vertikal anzuordnen */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding-bottom: 15rem;
}

.text-container {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 1s, transform 1s;
  position: relative;
}


.left-text,
.right-text {
  color: black;
}

.left-text {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  font-size: var(--praesision-font-size);
}

.right-text {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  font-size: var(--webas-font-size);
}


.slash {
    width: calc(1.5vw + 1.5vh);
    height: calc(7.5vw + 7.5vh);
    margin-left: 10px;
    margin-right: 10px;
}

.text-container-moved-down {
    transform: translate(-50%, calc(-50% + 50px))
  }

.centered-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 100%; /* Der Text startet außerhalb des Bildschirms */
    transition: all 1s; /* Animation hinzufügen */
    opacity: 0; /* Text ist unsichtbar */
}

.centered-text h1{
    font-size: calc(var(--webas-font-size) / 2);
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
}

.centered-text p {
    text-align: center;
    font-size: calc(var(--webas-font-size) / 3.5);
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    max-width: 60%;
    margin: 0 auto;
}

.centered-text.active {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1; /* Text wird sichtbar */
}


.adjectives-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.adjective {
    font-size: 2.5em;
    position: absolute;
    top: 40%;
    left: 50%; /* Startposition außerhalb des Bildschirms links */
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
    font-family: 'Montserrat', Arial, sans-serif;
}

.adjective.active {
    transform: translate(-50%, -50%); /* Zentrierte Position */
    opacity: 1;
}

.adjective.exit {
    transform: translate(50%, -50%); /* Endposition außerhalb des Bildschirms rechts */
    opacity: 0;
}

  
  
  .text-container {
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(50px);
  }
  
  .text-container-moved-right {
    transform: translateX(50px);
  }
  

/* Pagination */
.pagination {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-dot.active {
    background-color: var(--royale-blue);
}

@media screen and (max-width: 768px) {
    .centered-text h1{
        font-size: calc(var(--webas-font-size) / 1.3);
    }
    .centered-text p{
        font-size: calc(var(--webas-font-size) / 2.5);;
    }
    .pagination-dot{
        width: 7px;
        height: 7px;
    }
}
@media (max-width: 480px) {
    .centered-text h1{
        font-size: calc(var(--webas-font-size) );
    }
    .centered-text p{
        font-size: calc(var(--webas-font-size) / 2.3);
        width: 80%;
    }
    .pagination-dot{
        width: 6px;
        height: 6px;
    }
  }

  .centered-text-opacity1{
    width: 100%;
    text-align: center;
  }
 

.centered-text-opacity1 h1{
    font-size: calc(var(--webas-font-size) /2 );
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    padding: 0 1rem;
} 
.centered-text-opacity1 h2{
  font-size: calc(var(--webas-font-size) /2.5 );
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  padding: 0 1rem;
} 
hr {
    width: 0;
    height: 5px;
    background-color: #4169e1;
    border: none;
    margin: 2rem auto;
    opacity: 0;
    transform-origin: center;
    transition: width 0.5s, opacity 0.5s;
}
.centered-text-opacity1 p{
    text-align: center;
    font-size: calc(var(--webas-font-size) / 2.5);
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    max-width: 70%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .centered-text-opacity1 h1{
        font-size: calc(var(--webas-font-size)/1.5);
        text-transform: uppercase;
        font-weight: 500;
    }
    .centered-text-opacity1 h2{
      font-size: calc(var(--webas-font-size)/2);
      text-transform: uppercase;
      font-weight: 500;
  }
    .centered-text-opacity1 p{
        max-width: 100%;
        font-size: calc(var(--webas-font-size)/1.8);
        padding: 2rem 20px;
        line-height: 1.5;
    }
}
@media (max-width: 480px) {
    .centered-text-opacity1 h1{
        font-size: var(--webas-font-size);
        text-transform: uppercase;
        font-weight: 500;
    }
    .centered-text-opacity1 h2{
      font-size: calc(var(--webas-font-size)/1.3);
      text-transform: uppercase;
      font-weight: 500;
  }
    .centered-text-opacity1 p{
        max-width: 100%;
        font-size: calc(var(--webas-font-size)/1.2);
        padding: 2rem 20px;
        line-height: 1.5;
    }
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    text-align: center;
    animation: bounce 2s infinite;
    font-family: 'Montserrat', Arial, sans-serif; /* Schriftart gesetzt */
}

.scroll-down-indicator span {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

.scroll-down-indicator .arrow {
    width: 20px;
    height: 20px;
    border: 2px solid var(--royale-blue);
    border-width: 3px 3px 0 0;
    transform: rotate(135deg);
    margin: 0 auto;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}







.social-links a {
  font-size: 30px;
  margin: 0 20px;
  color: inherit;
  transition: all 0.5s ease;

}
.social-links h4{
  font-size: 20px;
  font-weight: 200;
}
.social-links :hover {
  scale: 1.3;
  transition: .5s;
}
.social-links h4:hover{
  scale: 1;
}

.social-links {
      margin-bottom: 30px;
  }
@media (min-width: 768px) {
  .footer-links ul {
      flex-direction: row;
      justify-content: center;
      gap: 20px;
  }
  
  
} 


footer {
  background-color:  #f2f2f2;
  padding: 3rem 0;
  position: absolute;
  width: 100%;
}

footer nav {
  text-align: center;
  justify-content: center;
}

footer nav ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

footer nav ul li {
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  padding: 0;
}

footer nav ul li:not(:last-child) {
  margin-right: 60px;
}

footer nav ul li a {
  text-decoration: none;
  color: black;
}

footer nav ul li a:hover {
  color: var(--royale-blue);
  transition: .2s ;
}

@media (max-width: 768px) {
  footer{
      padding: 2rem 0;
  }

  footer nav ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
    
  }
  
  footer nav ul li {
    margin-right: 0;
    display: block;
  }

} 
    
.footer-container {
  background-color: #f2f2f2;
  padding: 30px 2rem;
}

.footer-heading {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list li p  {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 0.8;
}


/* Custom Footer Styling */
.footer-container .container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container .col-4 {
  flex-basis: calc(70% - 10px);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-container .col-4 {
    flex-basis: 30%;
    margin: 0 auto;
  }
  .footer-container .row {
      display: flex;
      text-align: center;
     
    }
    .footer-container .container-fluid {
      max-width: 1200px;
      margin: 0 auto;
    }
}